<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Howler</title>
    {% endif %}
  </head>
  <body>
	<div>Logged in as {{cuser}}!</div>
    <div>Howler: <a href="/home">Home</a></div>
	<div><a href="/users/{{cuser}}">My page</a></div>
	<div><a href="/posts/">Post list</a></div>
	<div><a href="/logout">Logout</a></div>
    <hr>
	 {% if line %}
    <ul>
    {% for message in line %}
        <li><a href="/users/{{ message }}">{{ message }}</a> </li>
    {% endfor %}
    </ul>
    {% endif %}
	{% block content %}{% endblock %}
  </body>
 
</html>